html,
body,
#root {
  margin: 0;
  padding: 0;

  width: 460px;
  min-width: 460px;
  max-width: 460px;

  min-height: 650px;

  background: var(--background);

  font-family: Inter, system-ui, sans-serif;

  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--text);
}